@charset "UTF-8";

@media screen and (min-width: 992px) {

    /* cabeçario */
    header {
        height: 640px;
    }
    
    header > img.logo {
        max-width: 300px;
        margin-left: 0px;
    }

    header > h1 {
        font: normal clamp(4em, 5.5vw, 5.5em) 'Montserrat', arial, helvetica, sans-serif;
    }

    /* sticky header */
    div.menu > a {
        font: normal clamp(0.6em, 1vw, 0.9em) 'Montserrat', arial, helvetica, sans-serif;
    }

    /* código principal */
    section.aviso {
        max-width: 650px;
    }
    
    .aviso > h2 {
        font-size: 1.7em;
    }
    
    .aviso > p {
        font-size: 0.9em;
        line-height: 23px;
        letter-spacing: 0.5px;
    }

    /* projetos */
    section.projetos {
        width: 82%;
        margin-bottom: 150px;
        padding: 50px;
    }

    section.projetos > div {
        padding: 12px;
        margin: 10px;
    }
    
    section.projetos > div > h3 {
        font-size: 1.1em;
        margin: 4px 0;
    }

    section.projetos > div > p {
        font: normal 0.8em arial, helvetica, sans-serif;
        width: 400px;
        letter-spacing: 0.5px;
        line-height: 17px;
    }

    div.content-inner > p {
        font-size: 0.8em;
        width: 400px;
        letter-spacing: 0.5px;
        line-height: 17px;
    }

    /* introdução e sobre */
    div.introdução {
        margin: 40px 0 40px 20px;
        width: 77%;
    }
    
    div.introdução > h2 {
        font-size: clamp( 1em, 3.4vw, 3.4em);
    }
    
    div.info > h3 {
        font-size: 1.2em;
    }

    div.introdução > p {
        font-size: clamp(0.8em, 1vw, 1em);
        width: 90%;
        line-height: 21px;
        margin-bottom: 30px;
    }

    section#sobre > img {
        width: 100%;
        transform: translate(-90px, 0);
    }

    /* skills */
    div.skills {
        width: 102%;
        padding-top: 25px;
    }

    div.info > img {
        width: 50%;
    }

    .skills > div.info {
        width: 28%;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
        margin: 10px;
    }

    /* rodapé */
    footer {
        background-color: rgb(132, 56, 255);
        padding-left: 0px;
    }

    div.contatos {
        margin: 20px;
    }

    div.contatos > p {
        font-size: 1em;
    }

    .icones > a > img {
        max-width: 35px;
    }
}