@media screen and (min-width: 992px) {
    
    /* projetos */
    section.projetos > div > p {
        font-size: 0.7em;
        width: 302px;
    }

    section.projetos > div > h3 {
        font-size: 1em;
    }

    /* sobre */
    section#sobre > img {
        width: 90%;
    }

    div.introdução{
        justify-self: center;
    }
    
}