@charset "UTF-8";

@media screen and (min-width: 992px) {

    /* projetos */
    .projetos > div > p {
        font: normal 1em arial, helvetica, sans-serif;
        width: 615px;
    }

    div.content-inner > p {
        width: 613px;
    }

    /* skills */

    div.skills {
        padding-top: 40px;
    }

    .skills > div.info {
        width: 28%;
    }
    
}